In [1]:
import pandas as pd

df_train = pd.read_csv('CCC.csv')

In [2]:
df_train

,id,tox_codes_oc,text,toxicity_annotator_count,parent,tox_codes_ic,tox_codes_parent,workers_ic
0,240290,"[0, 0, 0, 0]","Not a good idea, considering that the elephant...",4,Here's an idea. Spend $2 million moving them b...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45485526, 45438879, 45500804, 45432844, 45388..."
1,240311,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",You're an idiot.,32,"""Yesterday I was giddy, today I'm scared,"" Tho...","[1.0, 1.0, 0.0, 1.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45485526, 45397010, 45596860, 45630..."
2,240314,"[0, 0, 0, 0]","No, I think 1983 is the correct debut year. Th...",4,Perhaps someone born less recently than I has ...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.5]","[45397769, 45598353, 45486432, 45525588, 45599..."
3,240325,"[0, 0, 0, 0]",Author of article here. I appreciate this fact...,4,Does the author of this piece not know that St...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45331940, 45582632, 45449661, 45489..."
4,240367,"[0, 0, 0, 0]",HAHAHA you have a point!,4,"They both start with Star, so how are the diff...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45536973, 45541171, 45491654, 45388080, 45224..."
...,...,...,...,...,...,...,...,...
9924,6333040,"[0, 0, 0, 0, 0, 0]","Man, I was thinking about becoming a stoner, b...",6,Count on the federal government to have not pe...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 1.0, 0.0]","[45535369, 45314593, 45597995, 45313149, 45571..."
9925,6333248,"[0, 0, 0, 0]",I did it just so you could rub my belly again!...,4,thank you for rolling over motley. knew you wo...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45256178, 45184889, 45224788, 45653549, 45541..."
9926,6333695,"[0, 0, 0, 0]","Let me re-phrase it then, ""Comment""---Perhaps ...",4,"“In the original Hebrew of the Old Testament, ...","[0.0, 0.0, 0.0, 0.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 1.0]","[45446324, 45418477, 45599360, 45589137, 45407..."
9927,6333872,"[0, 0, 0, 1, 0]",I don't know that abortion played much of a pa...,5,I don't know whether you're trying to label me...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45537352, 45184889, 45388080, 45588938, 45505..."
9928,6333967,"[0, 0, 0, 0]","Maybe the tax on ""things"" would be collected w...",4,"I agree, but then how would you deal with the ...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45598378, 45505732, 44826677, 45598834, 45450..."

In [3]:
df_train.sort_values(by=['toxicity_annotator_count'], ascending = False)

,id,tox_codes_oc,text,toxicity_annotator_count,parent,tox_codes_ic,tox_codes_parent,workers_ic
5267,5292392,"[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, ...",I hope you die today. The world will be much b...,4177,The son of Libyan refugees was the homicide bo...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 1.0, 0.0]","[45535393, 45404169, 45588938, 45596860, 45388..."
8687,6065489,"[0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","This is getting a little weird, folks, but rea...",1871,What does the Washington Post know about Calif...,"[0.0, 0.0, 1.0, 1.0, 0.0]","[0.0, 0.0, 1.0, 1.0, 0.0]","[45397769, 45418782, 45448191, 45188628, 45413..."
4516,5114414,"[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, ...",haha this guy dont know shit,1868,Obviously the only answer is extensive KNIFE C...,"[0.0, 0.0, 1.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45599028, 45535372, 45525557, 45597947, 45597..."
9803,6307827,"[1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",... and he needs to shave that stupid goatee. ...,1850,Hopefully Elway learned a lesson about draftin...,"[0.0, 0.0, 1.0, 1.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45402464, 45498710, 45451297, 45630512, 45573..."
7238,5727201,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Like your input! I am all for self responsibil...,1653,Let's not punish our retirees...work with a pl...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45571747, 20225558, 45603511, 45447091, 45440..."
...,...,...,...,...,...,...,...,...
3983,4989035,"[0, 0, 0, 0]","As long as no one get's hurt, that's good for ...",4,I love it.. that is a great response (really) ...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45494674, 45635376, 45491654, 45332074, 44826..."
3982,4988979,"[0, 0, 0, 0]",Have you met Trump? You're going to have a lo...,4,This is a crock. He wants to make America bet...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45535393, 45491654, 45332074, 45602066, 45478..."
3981,4988936,"[0, 0, 0, 0]",President Obama promised to put the Iraq and A...,4,The Republicans and the Democrats forgot about...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45588938, 45432844, 45494674, 45636192, 45643..."
3980,4988851,"[0, 0, 0, 0]",Sold real estate to the Chinese this morning s...,4,You are dead wrong Mr. Assistant Professor fro...,"[0.0, 1.0, 0.0, 0.0, 0.0]","[0.0, 1.0, 0.0, 0.0, 0.0]","[45404259, 45454484, 45500969, 45256363, 45599..."
9928,6333967,"[0, 0, 0, 0]","Maybe the tax on ""things"" would be collected w...",4,"I agree, but then how would you deal with the ...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45598378, 45505732, 44826677, 45598834, 45450..."

In [4]:
df_train.iloc[7238]['text']

'Like your input! I am all for self responsibility and personal decision making.'

In [5]:
df_new = df_train.copy()

In [6]:
df_new['tox_codes_sum'] = 0
for index, row in df_new.iterrows():
    df_new.iloc[[index],[-1]] = sum([int(float(x)) for x in df_new.iloc[index]['tox_codes_ic'].strip('[]').split(',')])

In [7]:
df_new

,id,tox_codes_oc,text,toxicity_annotator_count,parent,tox_codes_ic,tox_codes_parent,workers_ic,tox_codes_sum
0,240290,"[0, 0, 0, 0]","Not a good idea, considering that the elephant...",4,Here's an idea. Spend $2 million moving them b...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45485526, 45438879, 45500804, 45432844, 45388...",0
1,240311,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",You're an idiot.,32,"""Yesterday I was giddy, today I'm scared,"" Tho...","[1.0, 1.0, 0.0, 1.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45485526, 45397010, 45596860, 45630...",4
2,240314,"[0, 0, 0, 0]","No, I think 1983 is the correct debut year. Th...",4,Perhaps someone born less recently than I has ...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.5]","[45397769, 45598353, 45486432, 45525588, 45599...",0
3,240325,"[0, 0, 0, 0]",Author of article here. I appreciate this fact...,4,Does the author of this piece not know that St...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45331940, 45582632, 45449661, 45489...",0
4,240367,"[0, 0, 0, 0]",HAHAHA you have a point!,4,"They both start with Star, so how are the diff...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45536973, 45541171, 45491654, 45388080, 45224...",0
...,...,...,...,...,...,...,...,...,...
9924,6333040,"[0, 0, 0, 0, 0, 0]","Man, I was thinking about becoming a stoner, b...",6,Count on the federal government to have not pe...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 1.0, 0.0]","[45535369, 45314593, 45597995, 45313149, 45571...",0
9925,6333248,"[0, 0, 0, 0]",I did it just so you could rub my belly again!...,4,thank you for rolling over motley. knew you wo...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45256178, 45184889, 45224788, 45653549, 45541...",0
9926,6333695,"[0, 0, 0, 0]","Let me re-phrase it then, ""Comment""---Perhaps ...",4,"“In the original Hebrew of the Old Testament, ...","[0.0, 0.0, 0.0, 0.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 1.0]","[45446324, 45418477, 45599360, 45589137, 45407...",1
9927,6333872,"[0, 0, 0, 1, 0]",I don't know that abortion played much of a pa...,5,I don't know whether you're trying to label me...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45537352, 45184889, 45388080, 45588938, 45505...",0
9928,6333967,"[0, 0, 0, 0]","Maybe the tax on ""things"" would be collected w...",4,"I agree, but then how would you deal with the ...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45598378, 45505732, 44826677, 45598834, 45450...",0

In [8]:
df_new['toxicity'] = 0
df_new.toxicity[df_new.tox_codes_sum != 0] = 1

/var/folders/vt/xdf3hhd173j1dg60krg_hkm80000gn/T/ipykernel_18111/1010617614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.toxicity[df_new.tox_codes_sum != 0] = 1

In [11]:
df_new

,id,tox_codes_oc,text,toxicity_annotator_count,parent,tox_codes_ic,tox_codes_parent,workers_ic,tox_codes_sum,toxicity
0,240290,"[0, 0, 0, 0]","Not a good idea, considering that the elephant...",4,Here's an idea. Spend $2 million moving them b...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45485526, 45438879, 45500804, 45432844, 45388...",0,0
1,240311,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",You're an idiot.,32,"""Yesterday I was giddy, today I'm scared,"" Tho...","[1.0, 1.0, 0.0, 1.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45485526, 45397010, 45596860, 45630...",4,1
2,240314,"[0, 0, 0, 0]","No, I think 1983 is the correct debut year. Th...",4,Perhaps someone born less recently than I has ...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.5]","[45397769, 45598353, 45486432, 45525588, 45599...",0,0
3,240325,"[0, 0, 0, 0]",Author of article here. I appreciate this fact...,4,Does the author of this piece not know that St...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45432844, 45331940, 45582632, 45449661, 45489...",0,0
4,240367,"[0, 0, 0, 0]",HAHAHA you have a point!,4,"They both start with Star, so how are the diff...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45536973, 45541171, 45491654, 45388080, 45224...",0,0
...,...,...,...,...,...,...,...,...,...,...
9924,6333040,"[0, 0, 0, 0, 0, 0]","Man, I was thinking about becoming a stoner, b...",6,Count on the federal government to have not pe...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 1.0, 0.0]","[45535369, 45314593, 45597995, 45313149, 45571...",0,0
9925,6333248,"[0, 0, 0, 0]",I did it just so you could rub my belly again!...,4,thank you for rolling over motley. knew you wo...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45256178, 45184889, 45224788, 45653549, 45541...",0,0
9926,6333695,"[0, 0, 0, 0]","Let me re-phrase it then, ""Comment""---Perhaps ...",4,"“In the original Hebrew of the Old Testament, ...","[0.0, 0.0, 0.0, 0.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 1.0]","[45446324, 45418477, 45599360, 45589137, 45407...",1,1
9927,6333872,"[0, 0, 0, 1, 0]",I don't know that abortion played much of a pa...,5,I don't know whether you're trying to label me...,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45537352, 45184889, 45388080, 45588938, 45505...",0,0
9928,6333967,"[0, 0, 0, 0]","Maybe the tax on ""things"" would be collected w...",4,"I agree, but then how would you deal with the ...","[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[45598378, 45505732, 44826677, 45598834, 45450...",0,0

In [12]:
df_new_new = df_new[['id','text','toxicity']]

In [13]:
df_new_new

           id                                               text  toxicity
0      240290  Not a good idea, considering that the elephant...         0
1      240311                                   You're an idiot.         1
2      240314  No, I think 1983 is the correct debut year. Th...         0
3      240325  Author of article here. I appreciate this fact...         0
4      240367                           HAHAHA you have a point!         0
...       ...                                                ...       ...
9924  6333040  Man, I was thinking about becoming a stoner, b...         0
9925  6333248  I did it just so you could rub my belly again!...         0
9926  6333695  Let me re-phrase it then, "Comment"---Perhaps ...         1
9927  6333872  I don't know that abortion played much of a pa...         0
9928  6333967  Maybe the tax on "things" would be collected w...         0

[9929 rows x 3 columns]

In [15]:
df_new_new.to_csv('ccc-train-toxic-var.csv')